
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category</strong>
  <%= @restaurant.category %>
</p>


<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>"<%= review.content %>" rating:<%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
<br>
<%= link_to 'Back to list', restaurants_path %>
